[Unit]
Description=Run dokuwiki logs prune every night

[Timer]
Unit=dokuwiki_prune_logs.service
OnCalendar=*-*-* */3:00:00

[Install]
WantedBy=timers.target
